<div center>
  <div *ngIf="!!image; else noImageBlock">
    <img [src]="image" height="100" width="100" />
  </div>
  <ng-template #noImageBlock>
    <span><ion-icon name="person"></ion-icon></span>
  </ng-template>
  <div>{{name}}</div>
  <div *ngIf="isLoggedIn; else loginBlock">
    <button ion-button small color="secondary" (click)="logout()">Logout</button>
  </div>
  <ng-template #loginBlock>
    <button ion-button small color="primary" (click)="login()">Login</button>
  </ng-template>
</div> 