# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/www
/tmp
/res

# dependencies
/node_modules
/bower_components
/.tmp
package-lock.json

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# Cordova
/platforms
/plugins

#VSCode Chrome Debugger Extension (launch.json configuration)
/ChromeDebugger-UserData
