<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <!-- <ion-menu-button [autoHide]="'false'" class="left" color="light" *ngIf="showLeftMenuButton" (click)="toggleMenu()" menuToggle="startMenu">

      </ion-menu-button> -->
      <ion-menu-toggle *ngIf="showLeftMenuButton" (click)="toggleMenu()" [menu]="'startMenu'" [autoHide]="'false'">
          <ion-button >
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>

      <span>
        <img class="left" src="assets/icon.png" height="35" width="35" />
        <ion-title class="left">AngularPwaSeed</ion-title>
      </span>

      <!--<button mobile-hidden ion-button>
        <ion-icon name="search"></ion-icon>
        Search
    </button>-->
    </ion-buttons>


    <ng-content></ng-content>

    <ion-buttons slot="end">


      <div *ngIf="!infoAtRightMenu">
        <ion-button ion-button (click)="presentUserInfoPopover($event)">
          <ion-icon name="person"></ion-icon>
          <span invisible-to="mobile">{{name}}</span>
        </ion-button>

        <ion-button ion-button (click)="presentInfoPopover($event)">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </div>

      <!-- <ion-menu-button *ngIf="showRightMenuButton" ion-button icon-only (click)="toggleRightMenu()" [menu]="'endMenu'" [autoHide]="'false'" >
        <ion-icon name="more"></ion-icon>
      </ion-menu-button> -->
      <ion-menu-toggle *ngIf="showRightMenuButton" (click)="toggleRightMenu()" [menu]="'endMenu'" [autoHide]="'false'">
        <ion-button >
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-menu-toggle>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
