<ion-header>
  <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <ion-menu-button [autoHide]="'false'" class="left" color="primary" *ngIf="showLeftMenuButton" ion-button icon-only (click)="toggleMenu()" menuToggle="startMenu">
          <ion-icon name="menu"></ion-icon>
        </ion-menu-button>



        <span>
          <img class="left" src="assets/icon.png" height="35" width="35" />
          <ion-title class="left">AngularPwaSeed</ion-title>
        </span>

        <!--<button mobile-hidden ion-button>
        <ion-icon name="search"></ion-icon>
        Search
    </button>-->
      </ion-buttons>


    <ng-content></ng-content>

    <ion-buttons slot="end">


      <div *ngIf="!infoAtRightMenu">
        <ion-menu-button [autoHide]="'false'" ion-button (click)="presentUserInfoPopover($event)">
          <ion-icon name="person"></ion-icon>
          <span invisible-to="mobile">{{name}}</span>
        </ion-menu-button>

        <ion-menu-button [autoHide]="'false'" ion-button (click)="presentInfoPopover($event)">
          <ion-icon name="information-circle"></ion-icon>
        </ion-menu-button>
      </div>

      <ion-menu-button *ngIf="showRightMenuButton" ion-button icon-only (click)="toggleRightMenu()" menuToggle="endMenu">
        <ion-icon name="more"></ion-icon>
      </ion-menu-button>


    </ion-buttons>
  </ion-toolbar>
</ion-header>
