
  <ion-toolbar>
  <button *ngIf="showLeftMenuButton" ion-button icon-only (click)="toggleMenu()" menuToggle="startMenu">
      <ion-icon name="menu"></ion-icon>
    </button>

  <span padding>
  <img src="assets/icon.png" height="35" width="35" />
  <ion-title>AngularPwaSeed</ion-title>
  </span>

  <!--<button mobile-hidden ion-button>
        <ion-icon name="search"></ion-icon>
        Search
    </button>-->

  <ng-content></ng-content>

  <ion-buttons end>


    <div *ngIf="!infoAtRightMenu">
      <button ion-button (click)="presentUserInfoPopover($event)">
        <ion-icon name="person"></ion-icon>
        <span invisible-to="mobile">{{name}}</span>
      </button>

      <button ion-button (click)="presentInfoPopover($event)">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </div>

      <button *ngIf="showRightMenuButton" ion-button icon-only (click)="toggleRightMenu()" menuToggle="endMenu">
        <ion-icon name="more"></ion-icon>
      </button>


  </ion-buttons>
</ion-toolbar>
