// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "../../node_modules/@ionic/angular/dist/themes/ionic.globals";
@import "../../node_modules/@ionic/angular/dist/themes/ionic.theme.default";

@import "./theme";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $theme-color,
  secondary:  $secondary-color,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);




$toolbar-background:         $theme-color;
$toolbar-border-color:       #222;
$toolbar-text-color:         $text-color;
$toolbar-inactive-color:     #8c8c8c;

$menu-background: lighten( desaturate( $theme-color, 40% ) , 65% );

$list-text-color:            $text-color;
$list-background-color:      $menu-background;
$list-border-color:          #000;

.tabbar {
  background-color: transparent !important;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$menu-ios-background: $menu-background;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$menu-md-background: $menu-background;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$menu-wp-background: $menu-background;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "../../node_modules/@ionic/angular/dist/themes/ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$font-path: "../../node_modules/@ionic/angular/fonts";
// $ionicons-font-path: "../../node_modules/@ionic/angular/fonts";
// @import "../../node_modules/@ionic/angular/fonts/ionicons";
$ionicons-font-path: "../../node_modules/ionicons/dist/fonts";
@import "../../node_modules/ionicons/dist/scss/ionicons";


// All Ionic components
// @import "../../node_modules/@ionic/angular/dist/themes/ionic.components";



 /* Created by generate-ionic-scss-imports.js */
// @import "../../node_modules/@ionic/angular/dist/components/action-sheet/action-sheet";
// @import "../../node_modules/@ionic/angular/dist/components/action-sheet/action-sheet.ios";
// @import "../../node_modules/@ionic/angular/dist/components/action-sheet/action-sheet.md";
// @import "../../node_modules/@ionic/angular/dist/components/alert/alert";
// @import "../../node_modules/@ionic/angular/dist/components/alert/alert.ios";
// @import "../../node_modules/@ionic/angular/dist/components/alert/alert.md";
// @import "../../node_modules/@ionic/angular/dist/components/app/app";
// @import "../../node_modules/@ionic/angular/dist/components/app/app.ios";
// @import "../../node_modules/@ionic/angular/dist/components/app/app.md";
// @import "../../node_modules/@ionic/angular/dist/components/backdrop/backdrop";
// @import "../../node_modules/@ionic/angular/dist/components/badge/badge";
// @import "../../node_modules/@ionic/angular/dist/components/badge/badge.ios";
// @import "../../node_modules/@ionic/angular/dist/components/badge/badge.md";
// @import "../../node_modules/@ionic/angular/dist/components/button/button";
// @import "../../node_modules/@ionic/angular/dist/components/button/button.ios";
// @import "../../node_modules/@ionic/angular/dist/components/button/button.md";
// @import "../../node_modules/@ionic/angular/dist/components/card/card";
// @import "../../node_modules/@ionic/angular/dist/components/card/card.ios";
// @import "../../node_modules/@ionic/angular/dist/components/card/card.md";
// @import "../../node_modules/@ionic/angular/dist/components/checkbox/checkbox.ios";
// @import "../../node_modules/@ionic/angular/dist/components/checkbox/checkbox.md";
// @import "../../node_modules/@ionic/angular/dist/components/chip/chip";
// @import "../../node_modules/@ionic/angular/dist/components/chip/chip.ios";
// @import "../../node_modules/@ionic/angular/dist/components/chip/chip.md";
// @import "../../node_modules/@ionic/angular/dist/components/content/content";
// @import "../../node_modules/@ionic/angular/dist/components/datetime/datetime";
// @import "../../node_modules/@ionic/angular/dist/components/datetime/datetime.ios";
// @import "../../node_modules/@ionic/angular/dist/components/datetime/datetime.md";
// @import "../../node_modules/@ionic/angular/dist/components/fab/fab";
// @import "../../node_modules/@ionic/angular/dist/components/grid/grid";
// @import "../../node_modules/@ionic/angular/dist/components/infinite-scroll/infinite-scroll";
// @import "../../node_modules/@ionic/angular/dist/components/input/input";
// @import "../../node_modules/@ionic/angular/dist/components/input/input.ios";
// @import "../../node_modules/@ionic/angular/dist/components/input/input.md";
// @import "../../node_modules/@ionic/angular/dist/components/item/item";
// @import "../../node_modules/@ionic/angular/dist/components/item/item.ios";
// @import "../../node_modules/@ionic/angular/dist/components/item/item.md";
// @import "../../node_modules/@ionic/angular/dist/components/label/label";
// @import "../../node_modules/@ionic/angular/dist/components/label/label.ios";
// @import "../../node_modules/@ionic/angular/dist/components/label/label.md";
// @import "../../node_modules/@ionic/angular/dist/components/list/list";
// @import "../../node_modules/@ionic/angular/dist/components/list/list.ios";
// @import "../../node_modules/@ionic/angular/dist/components/list/list.md";
// @import "../../node_modules/@ionic/angular/dist/components/loading/loading";
// @import "../../node_modules/@ionic/angular/dist/components/loading/loading.ios";
// @import "../../node_modules/@ionic/angular/dist/components/loading/loading.md";
// @import "../../node_modules/@ionic/angular/dist/components/menu/menu";
// @import "../../node_modules/@ionic/angular/dist/components/menu/menu.ios";
// @import "../../node_modules/@ionic/angular/dist/components/menu/menu.md";
// @import "../../node_modules/@ionic/angular/dist/components/modal/modal";
// @import "../../node_modules/@ionic/angular/dist/components/modal/modal.ios";
// @import "../../node_modules/@ionic/angular/dist/components/modal/modal.md";
// @import "../../node_modules/@ionic/angular/dist/components/note/note.ios";
// @import "../../node_modules/@ionic/angular/dist/components/note/note.md";
// @import "../../node_modules/@ionic/angular/dist/components/picker/picker";
// @import "../../node_modules/@ionic/angular/dist/components/picker/picker.ios";
// @import "../../node_modules/@ionic/angular/dist/components/picker/picker.md";
// @import "../../node_modules/@ionic/angular/dist/components/popover/popover";
// @import "../../node_modules/@ionic/angular/dist/components/popover/popover.ios";
// @import "../../node_modules/@ionic/angular/dist/components/popover/popover.md";
// @import "../../node_modules/@ionic/angular/dist/components/radio/radio.ios";
// @import "../../node_modules/@ionic/angular/dist/components/radio/radio.md";
// @import "../../node_modules/@ionic/angular/dist/components/range/range";
// @import "../../node_modules/@ionic/angular/dist/components/range/range.ios";
// @import "../../node_modules/@ionic/angular/dist/components/range/range.md";
// @import "../../node_modules/@ionic/angular/dist/components/refresher/refresher";
// @import "../../node_modules/@ionic/angular/dist/components/scroll/scroll";
// @import "../../node_modules/@ionic/angular/dist/components/searchbar/searchbar";
// @import "../../node_modules/@ionic/angular/dist/components/searchbar/searchbar.ios";
// @import "../../node_modules/@ionic/angular/dist/components/searchbar/searchbar.md";
// @import "../../node_modules/@ionic/angular/dist/components/segment/segment";
// @import "../../node_modules/@ionic/angular/dist/components/segment/segment.ios";
// @import "../../node_modules/@ionic/angular/dist/components/segment/segment.md";
// @import "../../node_modules/@ionic/angular/dist/components/select/select";
// @import "../../node_modules/@ionic/angular/dist/components/select/select.ios";
// @import "../../node_modules/@ionic/angular/dist/components/select/select.md";
// @import "../../node_modules/@ionic/angular/dist/components/show-when/show-when";
// @import "../../node_modules/@ionic/angular/dist/components/slides/slides";
// @import "../../node_modules/@ionic/angular/dist/components/spinner/spinner";
// @import "../../node_modules/@ionic/angular/dist/components/spinner/spinner.ios";
// @import "../../node_modules/@ionic/angular/dist/components/spinner/spinner.md";
// @import "../../node_modules/@ionic/angular/dist/components/split-pane/split-pane";
// @import "../../node_modules/@ionic/angular/dist/components/split-pane/split-pane.ios";
// @import "../../node_modules/@ionic/angular/dist/components/split-pane/split-pane.md";
// @import "../../node_modules/@ionic/angular/dist/components/tabs/tabs";
// @import "../../node_modules/@ionic/angular/dist/components/toast/toast";
// @import "../../node_modules/@ionic/angular/dist/components/toast/toast.ios";
// @import "../../node_modules/@ionic/angular/dist/components/toast/toast.md";
// @import "../../node_modules/@ionic/angular/dist/components/toggle/toggle.ios";
// @import "../../node_modules/@ionic/angular/dist/components/toggle/toggle.md";
// @import "../../node_modules/@ionic/angular/dist/components/toolbar/toolbar";
// @import "../../node_modules/@ionic/angular/dist/components/toolbar/toolbar.ios";
// @import "../../node_modules/@ionic/angular/dist/components/toolbar/toolbar.md";
// @import "../../node_modules/@ionic/angular/dist/components/virtual-scroll/virtual-scroll";

//@import "../../node_modules/ionicons/dist/scss/ionicons";
