<ion-split-pane #splitPaneLeftMenu [when]="whenSplitPaneShow()">
  <ion-menu id="leftMenu" side="left" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Pages</ion-title>
        <span>
          <a invisible-to="mobile" (click)="fixMenu()">
            <span class="glyphicon glyphicon-pushpin toolbar-title-md" aria-hidden="true"></span>
          </a>
        </span>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ng-content select="[seed-menu-items]"></ng-content>
      </ion-list>
    </ion-content>

  </ion-menu>



  <ion-split-pane when="(min-width: 1440px)">
    <ion-content main #content>

      <seed-header>
      </seed-header>

      <div padding>

        <ng-content>


        </ng-content>

      </div>

    </ion-content>

    <ion-menu id="rightMenu" side="right" [content]="content">
      <ion-item>
        UserInfoComponent
      </ion-item>
      <ion-item>
        SystemInfoComponent
      </ion-item>
    </ion-menu>

  </ion-split-pane>
</ion-split-pane>