<ion-split-pane when="md">
  <ion-menu id="leftMenu" side="left" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Pages</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ng-content select="[seed-menu-items]"></ng-content>
      </ion-list>
    </ion-content>

  </ion-menu>



  <ion-split-pane  when="xl">
    <ion-content main #content >

      <seed-header>
      </seed-header>

      <div padding>

        <ng-content>


        </ng-content>

      </div>

    </ion-content>

    <ion-menu id="rightMenu" side="right" [content]="content">
      <ion-item>
        UserInfoComponent
      </ion-item>
      <ion-item>
        SystemInfoComponent
      </ion-item>
    </ion-menu>

  </ion-split-pane>
</ion-split-pane>