/* You can add global styles to this file, and also import other style files */

body{
  background-color: #eaeaea;
}

ion-menu ion-content {
  background-color: transparent !important;
}

.scroll-content {
  overflow-y: inherit !important;
}

.bar-button-menutoggle{
  display: inline-block;
}
