<?xml version="1.0"?>

<configuration>
  <location allowOverride="true">
    <system.webServer>
      <!--<rewrite>
        <rules>
          <remove name="AngularJS Routes" />
          <rule name="AngularJS Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(api)/" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>-->
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
