<div class="bg-primary full-width">

	<div class="table-cell">
		<span class="navbar-brand">Angular CLI Seed</span>
	</div>
	<div class="table-cell">
		<div class="container-fluid">
			<div class="row">
				<seed-menu>
					<ng-content select="seed-menu">

					</ng-content>
				</seed-menu>
			</div>
		</div>
	</div>
	<div class="table-cell">
		<div class="table-cell">
			<seed-userinfo></seed-userinfo>
		</div>
		<div class="table-cell">
			<seed-systeminfo></seed-systeminfo>
		</div>
	</div>

</div>